@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h1>Hello Word</h1>
<h1>Xin chào CĐ TH20 PMC</h1>
<p>Day la akakakakaka<p>
<p>Day la akakakakaka<p>
<p>Day la akakakakaka<p>